@{
    ViewData["Title"] = "Home Page";
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Página de Contato</title>
        <!-- Adicione os links para os arquivos CSS do Bootstrap e Font Awesome -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
        <style>
            /* Estilos personalizados */
            .centered-container {
                display: flex;
                justify-content: center;
                align-items: center;
                min-height: 100vh;
            }

            .big-button {
                font-size: 32px;
                padding: 30px 60px;
            }
        </style>
    </head>
    <body>

        <div class="centered-container">
            <!-- Botões do LinkedIn, GitHub e Telegram em linha -->
            <div class="d-flex justify-content-center">
                <!-- Botão do LinkedIn -->
                <a href="https://www.linkedin.com/in/joão-victor-aparecido-jesus-de-oliveira-5b1400208/" target="_blank" class="btn btn-primary big-button mx-2">
                    <i class="fab fa-linkedin"></i> LinkedIn
                </a>

                <!-- Botão do GitHub -->
                <a href="https://github.com/Joaovictoraparecido" target="_blank" class="btn btn-dark big-button mx-2">
                    <i class="fab fa-github"></i> GitHub
                </a>

                <!-- Botão do Telegram -->
                <a href="https://t.me/Joaotojo" target="_blank" class="btn btn-primary big-button mx-2">
                    <i class="fab fa-telegram"></i> Telegram
                </a>
            </div>

            <!-- Parágrafo de agradecimento -->
            
        </div>

        <!-- Inclua os links para os arquivos JavaScript do Bootstrap, se necessário -->

    </body>
    </html>


   /* <div class="jumbotron">
        <h1 class="display-4">Hello, world!</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>*/
}

<